<div class="alert alert-danger" id="alert" role="alert" style="padding-top: 25px; display: none!important">
    <i class="bi bi-info-circle"></i>&nbsp; <span id="alertMessage"></span>
</div>

<div class="text-center" id="singInDiv" style="display: none;">

    <h4 style="color: white; padding-top:50px;">To sign in, scan the QR code and enter the code</h4>
    <div id="userCode" style="color: white; padding-top:10px;" class="h3"></div>
    <img class="card-img-top" src="~/images/kiosk/qrcode.png" style="width: 300px; margin-top:35px;" alt="">
    <div style="color: white; padding-top:15px;" id="deviceLoginUrl">https://microsoft.com/devicelogin</div>

    <div id="myProgress" style="margin-top:35px;">
        <div id="myBar"></div>
    </div>
</div>