<div class="footer">

    <div class="row" id="footer">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-3">
            <div style="min-width: 320px;">
                <div class="wg-footer-total-arrow">Total</div>
                <div class="wg-footer-total">$25.00 <span id="discount" style="font-size: medium; padding-left: 10px; display:none;"> 10%</span></div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-7">

            @if (User.Identity?.IsAuthenticated == true)
            {
                <button type="button" id="deviceCodeSignIn1" class="btn btn-success" style="margin-left: 10px; height: 60px; background-color: green;"><i
                        class="bi bi-cart4"></i> Sign-in and place your order</button>
                <div id="Username"></div>
            }
            else
            {
                <p style="color: red; line-height: normal; padding-top: 10px;">
                    To use the Woodgrove kiosk demo application, you first need to <a href="/.auth/login/aad"
                        style="color: red;">sign-in</a> with your Microsoft account.
                </p>
            }
        </div>
    </div>

</div>
</div>


