<div class="alert alert-danger" id="alert" role="alert" style="padding-top: 25px; display: none!important">
    <i class="bi bi-info-circle"></i>&nbsp; <span id="alertMessage"></span>
</div>

<div class="text-center" id="singInDiv" style="display: none;">

    <h4 style="color: white; padding-top:50px;">To sign in, scan the QR code and enter the code</h4>
    <div style="padding-top:10px;"></div> <span id="userCode" class="h3" style="color: white;"
        ></span>

    <button id="myTest" type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="hover"
        title="Copied" style="padding: 0; background: transparent; border: none;" onclick="copyUserCode()">
        <i class="bi bi-clipboard" style="color: white;"></i>
    </button>

    <textarea id="userCodeToCopy" style="display: none;"></textarea>
    <div id="qrcode"></div>

    <a id="deviceLoginUrl" target="_blank"  style="color: white; padding-top:15px; display: inline-block;"
        href="">https://microsoft.com/devicelogin</a>

    <div id="myProgress" style="margin-top:35px;">
        <div id="myBar"></div>
    </div>
</div>