@page
@{
    Layout = null;
    ViewData["Title"] = "Restaurant";
}
@model woodgrovedemo_kiosk.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Woodgrove Groceries</title>
    <link rel="icon" href="~/favicon.ico" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/woodgrovedemo.styles.css" asp-append-version="true" /> *@
</head>

<body>
    <div class="header">

        <div class="row h-100 wg-header" >
            <div class="col-9">
                <h1 style="">
                    <img src="~/images/logo.png" width="80" alt="Woodgrove logo"> Woodgrove restaurant
                </h1>
            </div>
        </div>
    </div>


    </div>
    </div>

    <!-- h-100 takes the full height of the body-->
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!--Contains the sidebar-->
            <partial name="Index_Partial_Sidebar.cshtml" />

            <!--Contains the main content of the webpage-->
            <div class="col-10 container">
                <main role="main" class="pb-3">
                    <partial name="Index_Partial_SignIn.cshtml" />
                    <partial name="Index_Partial_Cards.cshtml" />
                </main>
            </div>
        </div>
    </div>

    <partial name="Index_Partial_Footer.cshtml" />

    <div id="device_code" style="display: none;"></div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            // First step of the device authorization code flow
            $("#deviceCodeSignIn1").click(function () {

                $("#cards").hide();
                $("#footer").hide();
                $("#alert").hide();

                $.getJSON("/DeviceAuthFlowFirstStep", function (result) {

                    if (result.error_description) {

                        $("#alertMessage").text(result.error_description);
                        $("#alert").show();

                    }
                    else {
                        $("#singInDiv").show();
                        $("#userCode").text(result.user_code);
                        $("#device_code").text(result.device_code);
                        $("#deviceLoginUrl").text(result.verification_uri);

                        move();
                    }
                });
            });
        });

        // Second step of the device authorization code flow
        function checkForToken() {

            // Send the data using post
            var device_code = "device_code=" + $("#device_code").text();
            var posting = $.getJSON("/DeviceAuthFlowSecondStep?" + device_code, function (result) {

                if (result.error_description) {

                    if (result.error_description.includes("is pending")) {
                        move();
                    }
                    else {
                        $("#alertMessage").text(result.error_description);
                        $("#alert").show();
                    }
                }
                else {
                    $("#alert").hide();
                    $("#deviceCodeSignIn1").hide();
                    $("#singInDiv").hide();
                    $("#cards").show();
                    $("#footer").show();
                    $("#discount").show();
                    $("#Username").text("Welcome to " + result.name);
                }
            });
        }

        var i = 0;
        function move() {
            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var width = 1;
                var id = setInterval(frame, 100);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                        checkForToken();
                        i = 0;
                    } else {
                        width++;
                        elem.style.width = width + "%";
                    }
                }
            }
        }
    </script>
</body>

</html>