<div class="col-2 text-center sidebar">
    <!-- Navigation links in sidebar-->
    <br />
    <br />
    Woodgrove® Coffees
    <br />
    <i class="bi bi-cup-hot fs-3"></i>
    
    <div style="padding-bottom: 25px;"></div>
    <b>Woodgrove® Specials</b>
    <br />
    <i class="bi bi-award fs-3"></i>

    <div style="padding-bottom: 25px;"></div>
    Dessert
    <br />
    <i class="bi bi-heart  fs-3"></i>

    <div style="padding-bottom: 25px;"></div>
    Woodgrove® Bakery
    <br />
    <i class="bi bi-shop-window fs-3"></i>
    
    <div style="padding-bottom: 25px;"></div>
    Salads
    <br />
    <i class="bi bi-flower1  fs-3"></i>

    <div style="padding-bottom: 25px;"></div>
    Beverages menu
    <br />
    <i class="bi bi-cup-straw fs-1"></i>
</div>